/* BannerSwiper.css */

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 28px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: rgba(255, 255, 255, 0.8) !important;
}
